* {
    margin: 0;
    padding: 0;
}
header {
    background: #2874f0;
    font-family: 'Raleway', sans-serif;
}
nav {
    display: flex;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    width: 100px;
    padding: 0 30px;
}
nav ul {
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
nav ul li {
    list-style: none;
    padding: 0 15px;
}

nav ul li a {
    color: #f0f0f0;
    text-decoration: none;
}

nav ul li a:hover {
    color: rgb(81, 210, 154);
    font-weight: bold;
}

.search {
    display: flex;
    align-items: center;
}


.searchBox {
    /* padding: 6px 48px; 
    border: 0;
    border-radius: 500px;
    height: 40px;
    width: 100%;
    margin: 0 50px
    */
    border: 0;
    border-radius: 500px;
    color: #000;
    height: 40px;
    padding: 6px 48px;
    /* text-overflow: ellipsis; */
    width: 270px;
}
.searchlogo{
    display: flex;
    left: 320px;
    pointer-events: none;
    position: absolute;
    right: 12px;
    top: 20px;
    align-items: center;
    size: 10px;
}

.container {
    min-height: calc(100vh - 58px - 12vh);
}

footer {
    height: 12vh;
    background-color: #212121;
    color: whitesmoke;
    font-family: 'Raleway', sans-serif;
}
.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}